.container {
  width: 80%;
  margin: auto;
  padding: 20px;
}

 .add-user-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;  
  margin-bottom: 15px;
}

.primary-btn {
  background-color: #002bad;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  height: 40px;
  cursor: pointer;
  padding: 10px 15px;
}


p-table {
  width: 100%;
}


p-progressSpinner {
  display: block;
  margin: auto;
}

.p-datatable tbody > tr > td {
  vertical-align: middle;
}

.actions-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.p-button-text {
  background: none !important;
  border: none !important;
  color: #333 !important;
  font-size: 18px;
  padding: 0.25rem;
  margin: 0;
  box-shadow: none !important;
  transition: none !important;

  &:hover,
  &:focus,
  &:active {
    background: none !important;
    border: none !important;
    color: #333 !important;
    box-shadow: none !important;
  }
}
