.container {
  width: 80%;
  margin: auto;
  padding: 20px;
}

 .add-user-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;  
  margin-bottom: 15px;
}

.primary-btn {
  background-color: #002bad;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  height: 40px;
  cursor: pointer;
  padding: 10px 15px;
}


p-table {
  width: 100%;
}


p-progressSpinner {
  display: block;
  margin: auto;
}


.p-button-text {
  background: transparent;
  border: none;
  color: #333;
  font-size: 18px;
  cursor: pointer;
}
