.form-container {
  width: 60%;
  margin: auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 1rem;
  border: 1px solid #e8e8e8;
}


.container3 {
  width: 80%;
  margin: auto;
  color: #002bad;
  padding: 20px;
  font-size: 24px;
}

.section-title {
  margin-top: 20px;
  color: #002bad;
  font-size: 20px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

label {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 6px;
}

.input-field {
  border-radius: 4px;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  height: 40px;
}

input.ng-invalid.ng-touched {
  border: red 1px solid;
}
app-city-dropdown {
  margin-bottom: 15px;
}

::ng-deep .ng-invalid.ng-touched .p-dropdown {
  border: 1px solid red !important;
}

.button-group {
  display: flex;
  justify-content: flex-start;
  gap: 20px; /* Adds space between buttons */
  margin-top: 20px;
}

.primary-btn {
  background-color: #002bad;
  color: white;
}

.cancel-btn {
  background-color: #002bad;
  color: white;
}


.error {
  color: red;
  font-size: 12px;
}

.p-toast {
  z-index: 9999 !important;
}

.p-toast-message {
  font-size: 14px;
}

.p-toast .p-toast-message-success {
  background-color: #28a745 !important;
  color: white;
}
